.header{
    background-color: #fff;
    box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
}
.location-selected{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-selected svg{
    margin-right: 0.5rem;
}
.list-option{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;    
    list-style: none;
    margin: 0px;
    padding: 0;
}
.list-option button,
.list-option .sharing{
    align-items: center;
    background-color: #ccc;
    border-radius: 0.45rem;    
    border: none;
    display: flex;
    justify-content: center;
    line-height: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.list-option button{
    padding: 0.5rem 0.75rem;
    background-color: #fff;
}
.list-option .sharing{
    background-color: rgb(216, 0, 0);
    color: #fff;
}
.list-option button span,
.list-option .sharing span{
    margin-left: 0.5rem;
}
@media(min-width:500px){
    .header-filters{
        display:none !important
    }
}
@media(max-width:500px){
    .location-selected span{
        display: none;
    }
}